a {
  background-color: transparent;
}

img {
  border-style: none;
}


.header-wrapper {
  position: fixed;
  width: 100vw;
  height: 92px;
  background-color: #1eb7ee;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 5px 10px rgba(37, 40, 41, 0.3);


  &__logo-container {
    display: flex;
    height: 100%;
    align-items: center;
    color: #FFFFFF;
    /*margin: 10px;*/
    margin-left: 110px;
    text-decoration: none;
    cursor: pointer;
  }

  &__logo {
    height: 60px;
    margin-right: 50px;
  }

}


.header-navigation {
  width: 70%;
  margin-right: 50px;
  display: flex;
  justify-content: space-between;
  list-style: none;

  &__item {
    text-decoration: none;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    min-height: 100%;
    border-radius: 0 30px 0 0;
  }

  &:hover {
    text-decoration: underline;
  }

}









