.fas{
  margin-right: 15px;
}

.button-direction {
  border: none;
  background: #1eb7ee;
  color: aliceblue;
  border-radius: 25px 50px 0 0;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  height: 50px;
  width: 50%;
  outline: none;
  &:hover {
    border-radius: 25px 25px 0 0;
    background: #1eb6ee44;
  }
}
.active {
  background: #fff;
  color: #1eb6ee6c;
  border-radius: 50px 25px 0 0;
}


/*
.fas{
  margin-right: 15px;
}



.flights-nav {
  display: flex;
  flex-direction: row;
  height: 60px;
  width: 75vw;
  margin: auto;

  &__btn-img {
    width: 30px;
    color: blue;
  }

  &__btn {
    height: 60px;
    flex: 1 1 auto;
    text-transform: uppercase;
    padding: 0;
    border: 0;
    position: relative;
    font-weight: 600;
    overflow: hidden;
    border-radius: 60px 60px 0 0;
    background: #73d2f0;
    color: #ffffff;
    font-size: 24px;
    line-height: 60px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;

    &:hover {
      background-color: #1eb7ee;
    }

    &_selected {
      background-color: #ffffff;
      color: #73d2f0;
      width: 400px;
      box-shadow: 0 0px 10px rgba(37, 40, 41, 0.3);
      z-index: 2;

      &:first-of-type {
        margin-right: -100px;
      }
      &:last-of-type {
        margin-left: -100px;
      }
      &:hover {
        background-color: #ffffff;
      }
    }
  }
}
*/
