* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  /*font-family: "Open Sans",sans-serif;*/
  background-color: #e7efec;
  color: #2f2f2f;
  height: 100vh;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  max-width: 1060px;
}

table {
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', Sans-Serif;
  border-collapse: collapse;
  color: #686461;
}

th {
  padding: 5px;
  text-align: center;
  background: #fff;
  color: #9ea0a2;
  height: 70px;
}
td {
  padding: 10px;
  text-align: center;
}
tr:nth-child(odd) {
  /*border: 3px solid #fff;*/
}

tr:nth-child(even) {
  background: #fff;
  border-radius: 80px;
}

.flight {
  &__status {
    margin-left: 39px;
    padding-left: 50px;
    width: 220px;
  }
  &__destination {
    width: 200px;
  }

  &__time {
    width: 100px;
  }

  &__terminal {
    width: 100px;
  }

  &__airline {
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 90px;
    justify-content: flex-start;
    width: 280px;

    &_logo {
      display: flex;
    }
  }
}

.table__airline {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 25px;
}

.terminal {
  display: inline-block;
  text-align: center;
  width: 40px;
  height: 40px;
  border: 3px solid;
  border-radius: 50%;
  line-height: 35px;
  font-weight: 700;

  &_A {
    border-color: #63c745;
    color: #63c745 !important;
  }

  &_D {
    border-color: #1eb7ee;
    color: #1eb7ee;
  }
}

.item-logo {
  width: 80px;
  height: 40px;
  margin-right: 5px;
}
.title__flight-no {
  background: #1eb7ee;
  border-radius: 0px 0px 50px 50px;
  margin: 0;
  text-align: center;
  min-height: 70px;
  color: rgba(255, 0, 0, 0.815);
  padding: 18px;
  font-size: 28px;
}

@media (max-width: 540px) {
  th {
    font-size: 16px;
    font-weight: 300;
  }
  td {
    font-size: 14px;
  }
  .item-logo {
    max-width: 30px;
    max-height: 20px;
    margin-right: 5px;
  }
  .terminal {
    width: 20px;
    height: 20px;
    line-height: 15px;
  }

  td.td-hiden {
    font-size: 16px;
  }
}

td.td-hiden {
  font-size: 16px;
  padding-left: 50px;
  text-align: left;
  width: 204px;
}

th.td-hiden {
  font-size: 16px;
  padding-left: 50px;
  text-align: left;
  width: 204px;
}

.fas {
  margin-right: 15px;
}

.items {
  border-radius: 50px 50px 0 0;
  height: 50px;
  background: #1eb7ee;

  &__direction {
    border: none;
    background: #1eb7ee;
    color: aliceblue;
    border-radius: 60px 60px 0 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    width: 50%;
    cursor: pointer;
    color: #fff;
    outline: none;
    transition: border-radius 0.3s;

    &:hover {
      border-radius: 30px 30px 0 0;
    }

    &_active {
      background: #fff;
      color: #1eb7ee;
      border-radius: 30px 30px 0 0;
    }
  }
}

tr.table__item {
  background-color: #e7efec;
}

td.table__item-info {
  text-align: left;
}
